<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="img-src 'self' https://firebasestorage.googleapis.com">

    <title>Cửa hàng bán sách</title>
    <link rel="stylesheet" href="/css/book.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body style="background-color: #f3f3f3">
    <%- include('partials/header') %>

    <br />

    <form class="form-wrapper" action="/dashboard/book" method="get">
      <h1>Tìm kiếm sách</h1>
      <div class="text-wrapper">
        <input type="text" class="text-wrapper_input" name="name" id="name" />
      </div>
      <div class="select-wrapper">
        <h4>Thể loại:</h4>
        <select class="select-wrapper_select" name="category" id="category">
          <option value="">Chọn thể loại</option>
          <% for (let i = 0; i < categoryList.length; i++) { %>
            <option value="<%= categoryList[i].name %>"><%= categoryList[i].name %></option>
          <% } %>
        </select>
        <h4>Tác giả:</h4>
        <select class="select-wrapper_select" name="author" id="author">
          <option value="">Chọn tác giả</option>
          <% for (let i = 0; i < authorList.length; i++) { %>
            <option value="<%= authorList[i].name %>"><%= authorList[i].name %></option>
          <% } %>
        </select>
      </div>

      <div class="input-range-wrapper">
        <h4>Giá tiền:</h4>
        <input
          class="input_range"
          id="input_range"
          name="input_range"
          min="0"
          max="1e6"
          step="1e4"
          type="range"
        />
        <div id="input_value" name="input_value">500000</div>
      </div>

      <div style="display: flex; justify-content: center;">
        <input type="submit" value="Tìm kiếm"/>
      </div>
    </form>

    <br />

    <div class="shop-container">
      <div class="shop">
        <% for (let i = 0; i < bookList.length; i++) { %>
          <div class="box-element">
            <img src="<%= bookList[i].image.replaceAll(' ', '') %>" alt="Hình ảnh sách" />
            <div class="content">
              <h3><%= bookList[i].name %></h3>
              <h4>Thể loại: <%= bookList[i].category %></h4>
              <h4>Tác giả: <%= bookList[i].author %></h4>
              <h4>Giá: <%= bookList[i].price %></h4>
    
              <button value="/order/detail/<%= bookList[i].name %>" id="submit-btn-<%= i %>">Thêm vào giỏ hàng</button>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <script type="module" src="/scripts/book.js"></script>
  </body>
</html>
