<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="img-src 'self' https://firebasestorage.googleapis.com"
    />

    <title>Cửa hàng bán sách</title>
    <link rel="stylesheet" href="/css/cart.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/book.css" />
  </head>
  <body style="background-color: #f3f3f3">
    <%- include('partials/header') %>

    <div class="alert" id="Alert" >
      <span class="fas fa-exclamation-circle"></span>
      <div class="close-btn">
         <span class="fas fa-times"></span>
      </div>
    </div>

    <div class="wrapper">
      <h1>Giỏ hàng</h1>
      <div class="project">
        <div class="shop">
          <% for (let i = 0; i < cart.length; i++) { %>
          <div class="box" id="detail-<%= i %>">
            <img src="<%= cart[i].book.image.replaceAll(' ', '') %>" />
            <div class="content">
              <h3><%= cart[i].book.name %></h3>
              <h4>Giá: <span id="price-<%= i %>">  <%= cart[i].book.price %> </span></h4>
              <p class="unit">Số lượng mua:</p>
              <div class="quantity">
                <input id="quantity-<%= i %>" type="number" min="1" value="1" />
              </div>
              <button id="delete-btn-<%= i %>" value="<%= cart[i].book._id %>" class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i>
                <span class="btn2">Hủy</span></button>
            </div>
          </div>
          <% } %>
        </div>
        <div class="right-bar">
          <p><span>Tổng </span> <span id="total-price"></span></p>
          <button id="submit-btn" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Đặt hàng</button>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/scripts/cart.js"></script>
  </body>
</html>
